@import "tailwindcss";

@font-face {
  font-family: 'Circular Std';
   src: url('/fonts/CircularStd-Book.ttf') format('truetype'),
       url('/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta Alt';
   src: url('/fonts/Recoleta-Regular.ttf') format('truetype'),
       url('/fonts/Recoleta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("/fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("/fonts/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* @font-face {
  font-family: "Recoleta Alt";
  src: url("/public/fonts/Recoleta-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
} */


 ::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: var(--cultured); }
::-webkit-scrollbar-thumb { background-color: var(--deep-saffron); }
::-webkit-scrollbar-thumb:hover { background-color: var(--orlic-blue); }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Circular Std', sans-serif;
  --font-recoleta: 'Recoleta Alt', serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: 'Circular Std', sans-serif;
}
